* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ddd6fe;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.book-container {
  margin-bottom: 2em;
}

header {
  display: flex;
  align-items: center;
  width: 640px;
  margin-top: 75px;
  margin-bottom: 15px;
}

h1 {
  text-align: center;
  background-color: #a78bfa;
  padding: 5px 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 6px;
  margin-right: 14px;
}

#addButton {
  height: 25px;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  background-color: #a78bfa;
  border: none;
  border-radius: 6px;
  box-shadow: 2px 2px 6px;
  align-self: flex-end;
}

#addButton:active {
  transform: translateY(3px);
  box-shadow: 0px 0px;
}

th {
  text-align: start;
  font-size: 1.1rem;
}

table, td, th {
  border: none;
  border-bottom: 1px solid #2e1065;
}

td, th {
  padding: 10px 20px;
  border-left: none;
  border-right: none;
}

table {
  border-collapse: collapse;
  box-shadow: 3px 3px 10px #2e1065;
  border: 1px solid black;
}

tr:nth-child(even) {
  background-color: #c4b5fd;

}

tr:nth-child(odd) {
  background-color: #a78bfa;
}

.title-column, .author-column {
  width: 12em;
}

.pages-column, .read-column {
  width: 4em;
}

.delete-column { 
  width: 1.5em;
}

.read-status {
  width: 4em;
}

#delete {
  background-color: #be123c;
  border: none;
  border-radius: 4px;
  height: 18px;
  width: 20px;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 2px;
  color:white;
  margin-left: 1px; 
  cursor: pointer;
}

.read-status {
  width: 40px;
  height: 24px;
  padding-bottom: 2px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.read-status-yes {
  background-color: #2e1065;
  color: white;
}

.read-status-no {
  background-color: #be123c;
  color: white;
}

td:nth-of-type(1), td:nth-of-type(2) {
  padding-left: 15px;
  max-width: 12em;
  word-wrap: break-word;
}

td:nth-of-type(3), td:nth-of-type(4) {
  text-align: center;
}

dialog[open] {
  display: flex;
} 

::backdrop {
  background-color: black;
  opacity: .6;
}

#formModal {
  margin: auto;
  margin-top: 200px;
  height: 350px;
  width: 300px;
  border: none;
  border: 3px solid #4c1d95;
  border-radius: 10px;
  background-color: #c4b5fd;
}

.form-container {
  margin: auto;
  text-align: center;
}

.form-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 235px;
  margin: 20px 0px;
}

label {
  display: flex;
  width: 50px;
  justify-content: flex-end;
}

input {
  height: 24px;
  border: 2px solid #4c1d95;
  border-radius: 4px;
  padding-left: 4px;
  outline: none;
}

select {
  border: 2px solid #4c1d95;
  border-radius: 4px;
  outline: none;
}

.book-read-label {
  width: 130px;
  padding-right: 6px; 
}

#readDropDown {
  justify-content: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#submitButton, #closeButton {
  width: 90px;
  height: 30px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

#submitButton:active, #closeButton:active {
  transform: translateY(2px);
}

#submitButton {
  margin-bottom: 5px;
  background-color: white;
  border: 2px solid #4c1d95;
}

#closeButton {
  border: none;
  color: white;
  background-color: #be123c;
}

.invalid-input {
  border: 2px solid #be123c;
  border-radius: 4px;
}

input:valid {
  border: 2px solid #4c1d95;
  border-radius: 4px;
}






