* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d1d5db;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

header {
  display: flex;
  align-items: center;
  width: 660px;
  margin-top: 75px;
  margin-bottom: 15px;
}

h1 {
  text-align: center;
  background-color: #3b82f6;
  padding: 5px 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 6px;
  margin-right: 14px;
}

#addButton {
  height: 25px;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  background-color: #93c5fd;
  border: none;
  border-radius: 6px;
  box-shadow: 2px 2px 6px;
  align-self: flex-end;
}

#addButton:active {
  transform: translateY(3px);
  box-shadow: 0px 0px;
}

th {
  text-align: start;
  font-size: 1.1rem;
}

td, th {
  padding: 10px 20px;
  border-left: none;
  border-right: none;
}

table {
  border-collapse: collapse;
  box-shadow: 3px 3px 12px #172554;
  border: 2px solid #172554;
}

tr:nth-child(even) {
  background-color: #93c5fd;

}

tr:nth-child(odd) {
  background-color: #3b82f6;
}

.title-column {
  width: 16em;
}

.author-column {
  width: 10em;
}

.pages-column, .read-column {
  width: 4em;
}

.delete-column { 
  width: 1.5em;
}

.read-status {
  width: 4em;
}

#delete {
  background-color: #be123c;
  border: none;
  border-radius: 4px;
  height: 18px;
  width: 20px;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 2px;
  color:white;
  margin-left: 1px; 
  cursor: pointer;
}

.read-status {
  width: 40px;
  height: 24px;
  padding-bottom: 2px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.read-status-yes {
  background-color: #1e40af;
  color: white;
}

.read-status-no {
  background-color: #be123c;
  color: white;
}

td:nth-of-type(1), td:nth-of-type(2) {
  word-wrap: break-word;
  padding-left: 15px;
}

td:nth-of-type(1) {
  max-width: 16em;
}

td:nth-of-type(2) {
  max-width: 10em;
}

td:nth-of-type(3) {
  text-align: center;
}

dialog[open] {
  display: flex;
} 

::backdrop {
  background-color: black;
  opacity: .6;
}

#formModal {
  margin: auto;
  margin-top: 200px;
  height: 350px;
  width: 300px;
  border: none;
  border: 3px solid #1e40af;
  border-radius: 10px;
  background-color: #93c5fd;
}

.form-container {
  margin: auto;
  text-align: center;
}

.form-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 235px;
  margin: 20px 0px;
}

label {
  display: flex;
  width: 50px;
  justify-content: flex-end;
}

input {
  height: 24px;
  border: 2px solid #1e40af;
  border-radius: 4px;
  padding-left: 4px;
  outline: none;
}

select {
  border: 2px solid #1e40af;
  border-radius: 4px;
  padding: 2px;
  outline: none;
}

.book-read-label {
  width: 130px;
  padding-right: 6px; 
}

#readDropDown {
  justify-content: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#submitButton, #closeButton {
  width: 90px;
  height: 30px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

#submitButton:active, #closeButton:active {
  transform: translateY(2px);
}

#submitButton {
  margin-bottom: 5px;
  background-color: white;
  border: 2px solid #1e40af;
}

#closeButton {
  border: none;
  color: white;
  background-color: #be123c;
}

.invalid-input {
  border: 2px solid #be123c;
  border-radius: 4px;
}

input:valid {
  border: 2px solid #1e40af;
  border-radius: 4px;
}






